.SecAsientosContainer {
  background-color: beige;
}

.SecAsientos {
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .SecAsientosContainer {
    background-color: pink;
  }
}
