@import "../../vars.scss";

.SecInfoTrip {
  padding: 4% 3%;
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 30px;
  background-color: $Gray;
}
.SecInfoTrip__flights {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SecAsientosContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .SecInfoTrip {
    padding: 3%;
    flex-direction: row;
    gap: 20px;
    .SecInfoTrip__flights {
      flex-grow: 1;
    }

    .SecInfoTrip__billing {
      flex-grow: 1;
    }
  }
}
